*{
    margin: 0;
    padding: 0;
}
.cursor{
    width: 20px;
    height: 20px;
    background: black;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    opacity: 0;
    cursor: none;
    /*pointer-events: none;*/
}
.cursor1, .cursor2, .cursor3{
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    transition: all .1s;
    cursor: none;

    opacity: 0;
}
.cursor2{
    transition: all .2s;
    background: orange;
}
.cursor3{
    transition: all .3s;
    background: yellow;
}
